.postcard
{
	margin:  2px 0;
	width: 495px;
	background: white;
	padding:  3px;
	border-radius: 1px;
	border: 1px solid silver;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.postcard:hover
{
	transform: scale(1.30);

}

#Galeria
{
	background: #eeee;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%	;

}